@import '_reset.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

:root {
  --color: 255, 55, 74;
}

$text-color: #222831;

%vertical-align {
  .container {
    align-items: center;
  }
}

%container-center {
  .container {
    align-items: center;
    justify-content: center;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
  font-size: 14px;
  color: $text-color;
  background-color: #fff;
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  height: 100%;
}

header {
  width: 100%;
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(#222831, 0.05);

  .header-top {
    width: 100%;
    height: 40px;
    background: rgb(var(--color));
    @extend %vertical-align;

    #contact {
      a {
        color: #fff;
        margin-right: 15px;
        border-right: 1px solid rgba(#fff, 0.2);
        padding-right: 10px;
        font-size: 12px;

        &:not(:first-child) {
          margin: 0;
          border: none;
          padding: 0;
        }

        i {
          margin-right: 5px;
        }
      }
    }

    #social-media {
      margin-left: auto;

      a {
        color: #fff;
        margin-left: 15px;
        text-decoration: none;
      }
    }
  }

  .header-bottom {
    width: 100%;
    height: 100px;
    @extend %vertical-align;

    #logo {
      img {
        max-height: 60px;
      }
    }

    .main-menu {
      display: flex;
      align-items: center;
      margin-left: auto;

      .nav-item {
        margin-left: 15px;
        position: relative;

        & > a {
          color: $text-color;
          transition: 300ms all ease;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;

          i {
            transition: 300ms all ease;
          }

          &:hover {
            color: rgb(var(--color));

            i {
              transform: rotate(180deg);
            }
          }
        }

        &:hover {
          .drop-down {
            display: block;
          }
        }

        .drop-down {
          display: none;
          position: absolute;
          min-width: 200px;
          top: 100%;
          right: 0;
          padding: 20px;
          background: #fff;
          box-shadow: 0 0 10px rgba($text-color, 0.1);
          border-radius: 3px;
          z-index: 100;

          a {
            display: block;
            text-decoration: none;
            color: $text-color;
            transition: 300ms all ease;
            border-bottom: 1px solid #eee;
            margin-bottom: 15px;
            padding-bottom: 15px;

            &:last-child {
              margin: 0;
              border: none;
              padding: 0;
            }

            &:hover {
              padding-left: 10px;
              color: rgb(var(--color));
            }
          }
        }
      }
    }
  }
}

.page-title {
  margin: 50px 0;
  @extend %container-center;

  h2 {
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    padding: 5px 10px;
    font-family: 'PT Sans';

    &:hover {
      &:before,
      &:after {
        width: calc(100% + 18px);
        height: calc(100% + 12px);
      }
    }

    &:before,
    &:after {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      transition: height 200ms ease 0s, width 400ms ease 200ms;
    }

    &:before {
      top: -8px;
      left: -10px;
      border-left: 2px solid #091921;
      border-top: 2px solid #091921;
    }

    &:after {
      bottom: -8px;
      right: -10px;
      border-right: 2px solid #091921;
      border-bottom: 2px solid #091921;
    }
  }
}

#main {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;

  .container {
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 2750px;
  }
}

#featured {
  margin-bottom: 100px;

  .container {
    flex-flow: column wrap;
    max-height: 630px;
  }

  .featured-content {
    width: calc(50% - 10px);
    margin: 5px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;

    &:hover {
      .overlay {
        background-color: rgba($text-color, 0.8);
      }
    }

    &:first-child {
      height: 410px;

      .content-title {
        font-size: 24px;
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      background-color: rgba($text-color, 0.3);
      transition: 300ms all ease;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    section {
      width: calc(100% - 30px);
      min-height: 100px;
      position: absolute;
      left: 15px;
      bottom: 15px;
      z-index: 2;
      display: flex;
      flex-direction: column;
    }

    .content-category {
      padding: 5px 10px;
      background-color: rgb(var(--color));
      color: #fff;
      border-radius: 3px;
      font-size: 10px;
      text-decoration: none;
      transition: 300ms all ease;
      margin-right: auto;

      &:hover {
        opacity: 0.8;
      }
    }

    .content-title {
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      transition: 300ms all ease;
      margin: 5px 0;
      line-height: 1.3;

      &:hover {
        color: rgb(var(--color));
      }
    }

    .content-desc {
      font-size: 12px;
      color: #ddd;
      line-height: 1.3;
      text-align: justify;
    }
  }
}

.content {
  max-width: calc((100% / 3) - 20px);
  padding: 15px;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  transition: 300ms all ease;
  position: relative;
  box-sizing: border-box;

  &:hover {
    &:before,
    &:after {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
    }
  }

  &:before,
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    transition: height 300ms ease 0s, width 600ms ease 300ms;
    z-index: 0;
  }

  &:before {
    top: -2px;
    left: -2px;
    border-left: 2px solid #091921;
    border-top: 2px solid #091921;
  }

  &:after {
    bottom: -2px;
    right: -2px;
    border-right: 2px solid #091921;
    border-bottom: 2px solid #091921;
  }

  &:hover {
    .content-image {
      i {
        opacity: 1;
      }

      img {
        transform: scale(1.2);
      }
    }
  }

  .content-image {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    color: #fff;
    z-index: 1;

    i {
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($text-color, 0.5);
      font-size: 36px;
      opacity: 0;
      transition: 300ms all ease;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 300ms all ease;
      z-index: 1;
    }
  }

  .content-title {
    color: $text-color;
    font-size: 18px;
    font-weight: 600;
    transition: 300ms all ease;
    margin: 15px 0;
    line-height: 1.3;
    z-index: 1;

    &:hover {
      color: rgb(var(--color));
    }
  }

  .content-desc {
    font-size: 13px;
    color: #666;
    line-height: 1.35;
    text-align: justify;
  }

  .content-author {
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 1px solid $text-color;
    margin-right: auto;
    padding-bottom: 3px;
    color: $text-color;
    font-size: 12px;
    transition: 300ms all ease;
    z-index: 1;

    &:hover {
      margin-left: 10px;
      border-color: rgb(var(--color));
      color: rgb(var(--color));
    }
  }

  .content-info {
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: calc(100% - 30px);
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content-category {
    padding: 5px 10px;
    background-color: rgb(var(--color));
    color: #fff;
    border-radius: 3px;
    font-size: 10px;
    text-decoration: none;
    transition: 300ms all ease;
    z-index: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  .content-time {
    font-size: 11px;
    color: #777;
  }

  &:nth-child(6) {
    margin-top: 30px;
  }

  &:nth-child(4n + 1) {
    height: 640px;

    .content-image {
      height: 375px;
    }
  }

  &:nth-child(4n + 2) {
    height: 369.98px;

    &:hover {
      .content-image {
        i {
          display: none;
        }
      }
    }

    .content-image {
      height: 100%;
    }

    .content-title {
      position: absolute;
      top: 15px;
      left: 15px;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      background-color: rgba($text-color, 0.5);
      margin: 0;
      font-size: 28px;
      color: #fff;
      transition: 300ms all ease;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 300;
      padding: 20px;
      box-sizing: border-box;

      &:hover {
        background-color: rgba($text-color, 0.85);
      }
    }

    .content-info {
      width: calc(100% - 60px);
      left: 30px;
      bottom: 30px;
      z-index: 2;
    }

    .content-time {
      color: #fff;
    }

    .content-desc,
    .content-author,
    .content-readmore {
      display: none;
    }
  }

  &:nth-child(4n + 3) {
    height: 490px;

    .content-image {
      height: 225px;
    }
  }

  &:nth-child(4n + 4) {
    height: 415px;

    .content-image {
      height: 150px;
    }
  }
}

#pagination {
  width: 100%;
  margin: 50px 0;

  .container {
    justify-content: space-between;
  }

  #back,
  #next {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 300ms all ease;
    color: $text-color;
    padding: 0 10px;

    &:hover {
      color: rgb(var(--color));
    }

    span {
      margin: 0 5px;
    }
  }

  #back {
    &:hover {
      margin-left: -5px;
    }
  }

  #next {
    &:hover {
      margin-right: -5px;
    }
  }
}

#top {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: -120px;
  border-radius: 3px;
  background: rgb(var(--color));
  color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px rgba(#091921, 0.2);
  transition: 300ms all ease;
  cursor: pointer;

  &:hover {
    animation-name: topAnimation;
    animation-duration: 300ms;
  }

  &.active {
    bottom: 20px;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  #footer-top {
    width: 100%;
    background-color: #222831;
    height: 80px;

    .container {
      align-items: center;
      justify-content: space-between;
    }

    h3 {
      border-left: 3px solid rgb(var(--color));
      padding-left: 10px;
      color: #fff;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;

      span {
        background-color: #fff;
        color: $text-color;
        font-weight: 600;
        padding: 3px 7px;
        border-radius: 2px;
      }
    }

    form {
      position: relative;

      input[type='text'] {
        width: 300px;
        height: 50px;
        border: none;
        background-color: #2d3646;
        padding: 0 20px;
        color: #ddd;
        border-radius: 25px;
        font-family: 'Poppins';
        padding-right: 110px;
        font-size: 14px;
      }

      button {
        height: 40px;
        border-radius: 20px;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: rgb(var(--color));
        color: #fff;
        font-weight: 500;
        font-family: 'Poppins';
        padding: 0 15px;
        text-transform: uppercase;
        cursor: pointer;
        transition: 250ms all ease;

        &:hover {
          background-color: rgba(var(--color), 0.8);
        }
      }
    }
  }

  #footer-bottom {
    background-color: #232b38;
    padding: 25px 0;

    .footer-box {
      width: calc((100% / 3) - 20px);
      margin: 10px;
      display: flex;
      flex-direction: column;

      .footer-box-title {
        color: #ddd;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        padding-bottom: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }

      .footer-nav {
        display: flex;
        flex-direction: column;

        a {
          margin-bottom: 15px;
          color: #aaa;
          font-size: 12px;
          transition: 250ms all ease;

          &:last-child {
            margin: 0;
          }

          &:before {
            content: '\f105';
            font-family: 'Font Awesome 5 Free';
            font-weight: bold;
            margin-right: 5px;
          }

          &:hover {
            color: rgb(var(--color));
            margin-left: 8px;
          }
        }
      }

      .copyright {
        color: #fff;
        text-align: center;

        a {
          color: rgb(var(--color));
          font-weight: 500;
        }

        i {
          font-size: 16px;
          color: rgb(var(--color));
        }
      }
    }
  }
}

@keyframes topAnimation {
  50% {
    transform: translateY(-5px);
  }
}

#content-page {
  width: 100%;
  background-color: orange;
  min-height: 150px;

  .container {
    flex-direction: column;
  }

  #content-container {
    width: 960px;
    min-height: 400px;
    margin: 0 auto;
    background-color: red;
  }
}
